<div id="loginBackground">
<div>
<h1>SWISH</h1>
</div>

<div class="container-fluid">
	<div class="row">
	  <div class="col-md-3"></div>
	  <div class="col-md-3" id="registration">
	  	<form>
			<h3>Registration:</h3>
				<div>
					
					<input type="email" ng-model="authCtrl.emailregister" placeholder="Email">
				</div>
				<div>
					
					<input type="password" ng-model="authCtrl.passwordregister" placeholder="Password">
				</div>
		
				<a href="#/login" ng-click="authCtrl.AuthRegister()"><button type="button">Register</button>
				</a>
		</form>
	  </div>
	  <div class="col-md-3" id="login">
	  	<form>
			<h3>Login:</h3>
				<div>
					
					<input type="email" ng-model="authCtrl.emaillogin" placeholder="Email">
				</div>
				<div>
					
					<input type="password" ng-model="authCtrl.passwordlogin" placeholder="Password">
				</div>
		
				<a href="#/OldOrNewChart" ng-click="authCtrl.AuthLogin()"><button type="button">Login</button>
				</a>
		</form>
	  </div>
	  <div class="col-md-3"></div>
	</div>
</div>
</div>
