<div>
	
	<!-- REGISTRATION INPUTS -->
	<form>
		<h3>Registration:</h3>
			<div>
				<label for="email">Email Address:</label>
				<input type="email" ng-model="authCtrl.emailregister" placeholder="Email">
			</div>
			<div>
				<label for="email">Password:</label>
				<input type="password" ng-model="authCtrl.passwordregister" placeholder="Password">
			</div>
	
			<a href="#/login" ng-click="authCtrl.AuthRegister()"><button type="button">Register</button>
			</a>
	</form>
	<br>
	<form>
		<h3>Login:</h3>
			<div>
				<label for="email">Email Address:</label>
				<input type="email" ng-model="authCtrl.emaillogin" placeholder="Email">
			</div>
			<div>
				<label for="email">Password:</label>
				<input type="password" ng-model="authCtrl.passwordlogin" placeholder="Password">
			</div>
	
			<a href="#/OldOrNewChart" ng-click="authCtrl.AuthLogin()"><button type="button">Login</button>
			</a>
	</form>
	
</div>