<div ng-controller="MainPage as main" id="court">
	<table>
		<tr>
			<td ng-click="displayShotSelectionModal(0)" id="0"></td>
			<td ng-click="displayShotSelectionModal(1)" id="1"></td>
			<td ng-click="displayShotSelectionModal(2)" id="2"></td>
		</tr>
		<tr>
			<td ng-click="displayShotSelectionModal(3)" id="3"></td>
			<td ng-click="displayShotSelectionModal(4)" id="4"></td>
			<td ng-click="displayShotSelectionModal(5)" id="5"></td>
		</tr>
		<tr>
			<td ng-click="displayShotSelectionModal(6)" id="6"></td>
			<td ng-click="displayShotSelectionModal(7)" id="7"></td>
			<td ng-click="displayShotSelectionModal(8)" id="8"></td>
		</tr>
	</table>
</div>


