<div ng-controller="MainPage as main">
	<table>
		<tr>
			<td ng-click="displayShotSelectionModal(0)" id="0"></td>
			<td ng-click="displayShotSelectionModal(1)" id="1"></td>
			<td ng-click="displayShotSelectionModal(2)" id="2"></td>
		</tr>
		<tr>
			<td ng-click="displayShotSelectionModal()" id="3"></td>
			<td ng-click="displayShotSelectionModal()" id="4"></td>
			<td ng-click="displayShotSelectionModal()" id="5"></td>
		</tr>
		<tr>
			<td ng-click="displayShotSelectionModal()" id="6"></td>
			<td ng-click="displayShotSelectionModal()" id="7"></td>
			<td ng-click="displayShotSelectionModal()" id="8"></td>
		</tr>
	</table>
	<div>
		<button type="button">SAVE CHART</button>
	</div>
</div>


