<nav id="oldnewchartnav" class="navbar navbar-default center" role="navigation">
  <div class="navbar-inner">
    <ul class="nav navbar-nav">
      <li class="active"><h4 class="swishinnavbar">SWISH</h4></li>
      
    </ul>

    <ul class="nav navbar-nav navbar-left">
        
        <form class="navbar-form navbar-left">
        <!-- <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div> -->
        <a href="#/OldOrNewChart"><button type="submit" class="btn btn-warning">Charts</button></a>
      </form>
        <!-- <li><a href="#about">Left</a></li> -->
    </ul>

    <ul class="nav navbar-nav navbar-right">
    
    <form class="navbar-form navbar-left">
        <!-- <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div> -->
        <a href="/#/"><button type="submit" class="btn btn-info" id="logout">Logout</button></a>
      </form>
      
      </ul>
  </div>

</nav>

<div id="newchartbackground">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" id="newchartinputbox">
        <form ng-submit="addChart()">
    <h3 id="newchartboxheader">New Chart:</h3>
    <div>
    <!-- <label for="title">Title:</label> -->
    <input type="text" ng-model="newChartDetails.title" placeholder="Title">
  </div>
  <div>
    <!-- <label for="date">Date:</label> -->
    <input type="text" ng-model="newChartDetails.date" placeholder="Date">
  </div>
  <br>
  <div>
    <button class="btn btn-danger" type="submit">SUBMIT</button>
  </div>
  </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>

