<div id="modalBackground">
<div class="modal-header">
            <h2 class="modal-title">Shot Selector:</h2>
        </div>
        <div class="modal-body">
           
            <button class="btn btn-success" id="modalMakeButton" type="button" ng-click="make()">Make</button>
            <button class="btn btn-danger" id="modalMissButton" type="button" ng-click="miss()">Miss</button>
            <button class="btn btn-primary" id="modalDeleteButton" type="button" ng-click="deleted()">Delete</button>
        </div>
        <!-- <div class="modal-footer">
            
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div> -->
</div>