table {
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	width: 30px;
	height: 30px;
	text-align: center;
}

#basketballCourt {
	background-image: url("../images/basketballCourt.png");
	background-repeat: no-repeat;
    background-size: 1000px 600px;
    /*padding-top: 4px;*/
	
}


.make{
  background-color: green;
  border-radius: 50%;
}

.miss{
  background-color: red;
  border-radius: 50%;
}